html {
    font-family: 'Chelsea Market', cursive; 
}

nav {
    text-align: center;
}

header {
    display: inline-block;
}

header img {
    border-radius: 50%;
    width: 50%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: .5rem;
}

a {
    border-radius: 10px;
}

.center {
    text-align: center;
    margin: 5rem;
}

.plan {
    background-color: #FF764E
}

.learn {
    background-color: #5ED3EB;
}

.involve {
    background-color: #FFCD69;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    float: left;
    margin-top: 7rem;
    margin-left: .5rem;
}

.main {
    background-color: #DDB9A3;
    padding-top: .5rem;
}

.fire {
    height: 10%;
    width: 10%;
    text-align: center;
}

.car {
    height: 10%;
    width: 10%;
    text-align: center;
}

footer {
    background-color: #F9E7DC;
    text-align: center;
}

footer image {
    height: 15%;
}

span {
    font-weight: bold;
}